.cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-cart {
    margin: 140px 0px 20px;
    position: relative;
    padding: 10px;
    width: fit-content;
    max-height: fit-content;
    max-width: 650px;
    background-color: white;
    border-radius: 10px;
}

.inner-cart .close-btn {
    position: absolute;
    top: 10px;
    right: 15px
}

.inner-cart .close-btn:hover {
    cursor: pointer;
}

/* ===================================================== */
.cart-items {
    margin: 20px;
    width: fit-content;
    align-items: center;
}

.cart-items-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    font-weight: 700;
    font-size: 28px;
}

.cart-items-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}

/* ===================================================== */
.cart-items-img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

.cart-items-list {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    background-color: whitesmoke;
    margin: 10px 0px;
}

.cart-items-info {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cart-items-name {
    font-weight: 450;
}

.cart-items-price {
    font-size: 16px;
    font-weight: 500;
}

.cart-items-quantity {
    font-size: 14px;
    font-weight: 400;
}

.cart-items-add, .cart-items-remove {
    border: 1px solid lightgray;
    background: lightgrey;
    border-radius: 8px;
    padding: 0px 3px;
    margin: 0px 10px;
    font-size: 12px;
    cursor: pointer;
}

.cart-items-total-price-title {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}

.cart-items-total-price-title span {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
}

/* ================================================== */
.buttons-groups {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}

.clear-cart-btn {
    margin-top: 10px;
    font-size: 12px;
    border-radius: 10px;
    border: 0px;
    padding: 5px 10px;
}

.checkout-btn {
    margin-top: 10px;
    font-size: 12px;
    border-radius: 10px;
    border: 0px;
    background: rgb(255, 217, 0);
    padding: 5px 10px;
}

.succeed {
    text-align: center;
    font-weight: 450;
}

.ri-check-line {
    color: green;
    font-size: 50px;
    font-weight: 600;
}