.menu {
    text-align: center;
    margin: 70px 90px;
}

.menu h2 {
    margin-bottom: 25px;
}

.pt-0 {
    padding-top: 0;
}

.row {
    justify-content: center;
}

.menu-btn {
    margin-bottom: 10px;
}

.btn {
    border: 1px solid darkred;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.active-btn {
    background: rgb(190, 96, 96);
}